.employee-page-style {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sub-employee-one {
    width: 63%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}

#cart-descriptor {
    align-items: center;
    background-color: #16437E;
    border: 2px solid #CA0F1A;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
}

.sub-employee-two {
    width: 34%;
}

.selected-items-style {
    border: 2px solid black;
    padding-left: 10px;
}

.selected-items-style-dark {
    border: 2px solid white;
    padding-left: 10px;
}

.selected-items-style-high-contrast {
    border: 2px solid rgb(0, 255, 0);
    padding-left: 10px;
}

.total-items {
    text-align: start;
    padding: 2px;
}

.item-name {
    font-size: 14px;
}

#item-table {
    padding: 0px;
}

.submit-div {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

@media screen and (max-width: 768px) {
    .employee-page-style {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap-reverse;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .sub-employee-one {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
    }

    .sub-employee-two {
        width: 100%;
        margin-bottom: 30px;
    }
}