.grid-item {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px 15px;
    border-radius: 8px;
}

.grid-item:hover {
    transform: scale(1.03);
    transition: transform .5s ease-out;
    overflow: hidden;
}

.grid-item-dark {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 8px;
}

.grid-item-dark:hover {
    transform: scale(1.03);
    transition: transform .5s ease-out;
    overflow: hidden;

}

.grid-item-high-contrast {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgb(0, 255, 0);
    border: 1px solid rgb(0, 255, 0);
    padding: 5px 15px;
    border-radius: 8px;
}

.grid-item-high-contrast:hover {
    transform: scale(1.03);
    transition: transform .5s ease-out;
    overflow: hidden;
}

.desc {
    font-size: 14px;
    height: 80px;
    text-align: start;
    padding: 0;
    font-weight: bold;
}

.order-btn {
    background-color: #E51636;
    color: white;
    border: 1px solid #E51636;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 6px;
}

.order-btn:hover {
    background-color: white;
    color: #E51636;
}

.order-btn:active {
    background-color: red;
    color: white;
    border: 1px solid red;
}

.ok-btn {
    background-color: #E51636;
    color: white;
    border: 1px solid #E51636;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 6px;
    text-transform: uppercase;
    margin-left: 40%;
    margin-right: 40%;
}

.ok-btn:hover {
    background-color: white;
    color: #E51636;
}

.ok-btn:active {
    background-color: red;
    color: white;
    border: 1px solid red;
}