.modal-style {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-item:active {
  background-color: red;
  border: 1px solid red;
}

#msc-map {
  margin-left: 2px;
}

.form-map {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 400px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: black;
}

.input-map {
  width: 100%;
  margin-top: 0;
  padding: 0.5em;
  border: 0;
  border-bottom: 2px solid gray;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.submit {
  width: 100%;
  margin-top: 0;
  padding: 0.5em;
  border: 0;
  border-bottom: 2px solid gray;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

input:focus {
  border-bottom: 4px solid black;
}