.footer-style {
    text-align: center;
    background-color: rgb(205, 217, 240);
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-style-dark {
    background-color: rgb(11, 58, 135);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-style-high-contrast {
    background-color: black;
    color: rgb(0, 255, 0);
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-style>p {
    margin-top: 5px;
    padding: 0;
}